/*                                         */
/*     CSS styling for Basic Portfolio     */
/*                                         */

/* Provide line-height of 200% and change body color */
body {
    color: black;
    background-color: lightgrey;
    line-height: 200%;
}

/* Make the header stick to the top and reach across the screen */
.header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 100px;
}

/* Remove margins and padding from topnav, and add white background */
ul.topnav {
    background-color: #fff;
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

/* Float the list items side by side */
ul.topnav li {
    float: right;
    padding-top: 50px;
}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #777;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 18px;
}

/* */
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 40px;
    padding-left: 150px;
}

/* Place my name in a box and give it color */
div.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    background-color: #4aaaa5;
}

/* Float the word "Contact" left and change the color to teal*/
h2.subheading {
    color: #4aaaa5;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 25px;
    padding-left: 25px;
    border-bottom: 1px solid #ccc;
}

/* */
.about {
    vertical-align: middle;
}

/* */
section.section-about {
    background-color: #fff;
    display: block;
    padding: 20px;
    text-align: left;
    margin: auto;
    margin-top: 100px;
}


/* */
p {
    font-family: Arial, Helvetica, sans-serif;
}

/* */
img {
    padding-right: 25px;
}

/* */
section.section-portfolio {
    background-color: #fff;
    display: block;
    padding: 50px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

/* */
.row {

}

/* Create two equal colums that sit next to each other */
.column {
    padding: 0 4 px;
}

/* */
.column img {
    margin-top: 10px;
    vertical-align: middle;
}

/* Adjust the size and position of the form */
.form {
    display: block;
    text-align: left;
    margin: auto;
    margin-top: 100px;
    width: 50%;
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #777;
    border: 1px solid #ddd;
}

/* Make the footer stick to the bottom and reach across the screen */
.footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    left: 0px;
    right: 0px;
    border-top: 8px solid #4aaaa5;
    background-color: #666;
}

/* */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }